# Fichiers et dossiers spécifiques à .NET
bin/
obj/
.vs/
.vscode/
.idea/
*.user
*.userosscache
*.suo
*.userprefs
*.vspscc
*_i.c
*_p.c
*_h.h
*.ilk
*.meta
*.obj
*.iobj
*.pch
*.pdb
*.ipdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*_wpftmp.csproj
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc

# Fichiers de build
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/
build/
publish/

# Fichiers spécifiques à Visual Studio
*.VisualState.xml
TestResult.xml
nunit-*.xml
.ntvs_analysis.dat
node_repl_history
*.local.json
.env.local
.env.development.local
.env.test.local
.env.production.local

# Fichiers de configuration et secrets
config.json
appsettings.*.json
appsettings.Development.json
appsettings.Production.json
**/Properties/launchSettings.json
secrets.json
*.pfx
*.key
*.pem

# Fichiers de logs
*.log
logs/
Log/
prestago_integration.log

# Fichiers temporaires
.DS_Store
Thumbs.db
Desktop.ini
*.swp
*~
._*
.vscode-test
.history/

# Packages
*.nupkg
*.snupkg
**/packages/*
!**/packages/build/
*.nuget.props
*.nuget.targets

# Outils et analyses
/.sass-cache
/.eslintcache
/.stylelintcache
/coverage
/lcov-report
/test-results/
/playwright-report/
/.nyc_output
/.coverage

# Dossiers et fichiers de dépendances
node_modules/
bower_components/
jspm_packages/
package-lock.json
yarn.lock

# Archives
*.7z
*.zip
*.gz
*.tgz
*.rar
*.tar